.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #f4f6f8;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #113259;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.titleBox {
  flex-grow: 1;
  text-align: center;
}

.subtitle {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  color: #ccc;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  gap: 2rem;
}

.sidebar {
  width: 250px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}