.filterSection {
  font-weight: bold;
  font-size: 0.95rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #00285E;
  font-family: 'Figtree', sans-serif;
}

.sortLabel,
.statLabel {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  color: #00285E;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
}

.searchClearButton {
  min-width: 0;
  padding: 0 6px;
  font-size: 1rem;
  color: #00285E;
}

.clearIcon {
  cursor: pointer;
  color: #00285E;
  font-size: 1rem;
  margin-left: 0.5rem;
  user-select: none;
}

.clearIcon:hover {
  color: #001f49;
}

.resetButton {
  text-transform: none;
  font-weight: 500;
  font-family: 'Figtree', sans-serif;
  color: #0053BC;
  border-color: #BBC4CA;
  border-radius: 0 !important;
}

.resetButton:hover {
  border-color: #888;
  background-color: #F5F7FA;
}